body {
    background-color: #232323;
    margin: 0;
    font-family: "Montserrat", "Avenir"
}

.square {
    width:30%;
    background: purple;
    padding-bottom: 30%;
    float:left;
    margin:1.66%;
    border-radius: 15%;
    transition: background 0.5s;
}

.container {
    max-width: 600px;
    margin: 15px auto;

}

h1 {
    color:white;
    line-height: 1.1;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    background-color: steelblue;
    margin: 0;
    padding: 20px 0;
}

#colorDisplay {
    font-size: 200%;
}

#stripe {
    background: white;
    height: 30px;
    text-align: center;
    color: black;
}

.selected {
    color: white;
    background: steelblue;
}

button {
    border: none;
    background: none;
    text-transform: uppercase;
    font-family: "Montserrat", "Avenir";
    height: 100%;
    font-weight: 700;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.3s;
}

button:hover {
    color: white;
    background: steelblue;
}

#message {
    display: inline-block;
    width: 20%;
}